{% extends 'security/login.html.twig' %}

{% block titleContent %}
    <header class="major">
        <h2>{% apply registerTitle_content %}Register{% endapply %}</h2>
    </header>
{% endblock %}

{% block errorMSG %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <p class="py-6 text-pink-600">
        {{ flash_error  }}
        </p>
    {% endfor %}
{% endblock %}

{% block formGoods %}
    {{ form_start(registrationForm) }}
    <ul class="actions">
        <li>
            {{
            form_widget(
            registrationForm.name,
            {'attr':{'placeholder':'Full Name'}}
            )
            }}
        </li>

        <li>
            {{
            form_widget(
            registrationForm.email,
            {'attr':{'placeholder':'Email Address'}}
            )
            }}
        </li>

        <li>
            {{
            form_widget(
            registrationForm.plainPassword,
            {'attr':{'placeholder':'Password'}}
            )
            }}
        </li>

        <li>
            {{ form_widget(registrationForm.agreeTerms, {'attr':{'class':'mr-2 leading-tight'}}) }}
        </li>

        <li>
            <button type="submit" class="button large">Submit</button>
        </li>
    </ul>
    {{ form_end(registrationForm) }}
{% endblock %}
