{% extends 'base.html.twig' %}

{% set pageType = 'left-sidebar' %}

{% block banner %}
{% endblock %}

{% block feature2 %}
{% endblock %}
{% block recentPosts %}
{% endblock %}


{% block feature1 %}
    <div class="wrapper style1">
        <div class="inner">
            <!-- Feature 1 -->
            <section class="container box feature1">
                <div class="row">
                    <div class="col-12">
                        <header class="first major">
                            <h2>
                                {% apply blogtitle_content %}Blog Entries{% endapply %}
                            </h2>
                            <p>
                            {% apply blogsubtitle_content %}
                            And this is where we talk about why
                            we’re <strong>
                                pretty awesome
                            </strong> ...
                            {% endapply %}
                            </p>
                        </header>
                    </div>

                    {% for blog in blogs %}
                    <div class="col-4 col-12-medium">
                        <section>
                            <a href="{{ path("selene_cms_blog_post", {"slug": blog.getSlug}) }}" class="image featured">
                                <img src="{{ getBlogImage(blog, asset("build/images/city-pic01.jpg")) }}"
                                     alt="{{ blog.getPreview }}" />
                            </a>
                            <header class="second icon solid fa-user">
                                <h3>
                                    {{ blog.getTitle }}
                                </h3>
                                <p>
                                {{ blog.getPreview }}
                                </p>
                            </header>
                        </section>
                    </div>
                    {% endfor %}

                    <div class="col-12">
                        <p>
                        {% apply blogfooter_content %}
                        Phasellus quam turpis, feugiat sit amet
                        ornare in, hendrerit in lectus. Praesent
                        semper bibendum ipsum, et tristique
                        augue fringilla eu. Vivamus id risus vel
                        dolor auctor euismod quis eget mi. Etiam
                        eu ante risus. Aliquam erat volutpat.
                        Aliquam luctus mattis lectus sit amet
                        pulvinar. Nam nec turpis.
                        {% endapply %}
                        </p>
                    </div>

                </div>
            </section>
        </div>
    </div>
{% endblock %}
