{% extends 'base.html.twig' %}

{% macro sidebar(blogs, id) %}
<div class="col-4 col-12-medium">

    <!-- Sidebar -->
    {% for b in blogs %}
        {% if b.getId != id %}
            <section class="box">
                <a href="{{ path('selene_cms_blog_post', {slug: b.getSlug}) }}" class="image featured"><img src="{{ b.getImageFile.getImageFile }}" alt="{{ b.getTitle }}" /></a>
                <header>
                    <h3>{{ b.getTitle }}</h3>
                </header>
                <p>{{ b.getPreview|striptags }}</p>
                <footer>
                    <a href="{{ path('selene_cms_blog_post', {slug: b.getSlug}) }}" class="button alt">{% apply readMoreButton_content %}Read More{% endapply %}</a>
                </footer>
            </section>
        {% endif %}

        {# This will be the comments section, but I will work on it later.  Just want the framework here first.
        <section class="box">
            <header>
                <h3>Feugiat consequat</h3>
            </header>
            <p>Veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat sed lorem consequat feugiat lorem dolore.</p>
            <ul class="divided">
                <li><a href="#">Sed et blandit consequat sed</a></li>
                <li><a href="#">Hendrerit tortor vitae sapien dolore</a></li>
                <li><a href="#">Sapien id suscipit magna sed felis</a></li>
                <li><a href="#">Aptent taciti sociosqu ad litora</a></li>
            </ul>
            <footer>
                <a href="#" class="button alt">Ipsum consequat</a>
            </footer>
        </section>
        #}
    {% endfor %}

</div>
{% endmacro %}

{% block bodyClass %}
    {% apply spaceless %}
    {% if getSetting('rightSidebar') %}
        right-sidebar
    {% else %}
        left-sidebar
    {% endif %}
    {% endapply %}
{%endblock %}

{% block banner %}
{% endblock %}

{% block intro %}
{% endblock %}

{% block main %}
    <!-- Main -->
    <section id="main">
        <div class="container">
            <div class="row">

                {% if not getSetting('rightSidebar') %}
                    {{ _self.sidebar(blogs, blog.getId) }}
                {% endif %}

                <div class="col-8 col-12-medium imp-medium">

                    <!-- Content -->
                    <article class="box post">
                        <a href="{{ blog.getImageFile.getImageFile }}" class="image featured"><img src="{{ blog.getImageFile.getImageFile }}" alt="" /></a>
                        <header>
                            <h2>{{ blog.getTitle }}</h2>
                            <p>Written By: {{ blog.getAuthor }}</p>
                        </header>
                        {{ blog.getContent|raw }}
                    </article>

                </div>
                {% if getSetting('rightSidebar') %}
                    {{ _self.sidebar(blogs, blog.getId) }}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
