{% extends 'base.html.twig' %}

{% set pageType = 'no-sidebar' %}

{% block banner %}
{% endblock %}
{% block feature3 %}
{% endblock %}

{% block feature1 %}
    <div class="wrapper style2">
        <div class="inner">
            <div class="container">
                <div id="content">
                    <!-- Content -->
                    <article>
                        <header class="major">
                            <h2>
                                {{ blog.getTitle }}
                            </h2>
                            <p>
                            {{ blog.getAuthor.getName }}
                            </p>
                            <p>
                            <b>Published:</b>
                            {{ blog.getDatePublished|date('F j, Y') }}
                            </p>
                            <p>
                            <b>Last Updated:</b>
                            {{ blog.getDateUpdated|date('F j, Y') }}
                            </p>
                        </header>

                        <span class="image featured">
                            <img src="{{ getBlogImage(blog) }}"
                                 alt="{{ blog.getImageFile.getName }}" />
                        </span>

                        {% apply markdown_to_html %}
                        {{ blog.getContent|raw }}
                        {% endapply %}
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block feature2 %}

    <div class="wrapper style2">
        <div class="inner">
            <!-- Feature 2 -->
            <section class="container box feature2">
                <div class="row">
                    <div class="col-12 col-12-medium">
                        {% for c in blog.getComments %}
                            <section>
                            <h2>c.getTitle</h2>
                            <h3>c.getAuthor.getName</h3>
                            <p>c.getContent</p>
                            </section>
                            {% endfor %}

                        <section>
                            {% if app.user %}
                                {{ form_start(commentForm)  }}
                                {{ form_errors(commentForm)  }}

                                {{ form_row(commentForm.title, { 'label': 'Comment Title' })  }}
                                {{ form_row(commentForm.content, { 'label': 'Comment' })  }}
                                <footer>
                                    {{ form_row(commentForm.submit, { 'label': 'Submit me'  })  }}
                                </footer>
                                {{ form_end(commentForm)  }}
                            {% else %}
                                <h3>Please Register or Login to Leave Comments</h3>
                            {% endif %}
                        </section>
                    </div>
                </div>
            </section>
        </div>
    </div>
{%endblock %}
