<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% apply title_content %}Welcome!{% endapply %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body class="{% block bodyClass %}homepage{% endblock %} is-preload">
        <div id="page-wrapper">

            {% block header %}
                <!-- Header -->
                <section id="header">

                    {% block logo %}
                        <!-- Logo -->
                        <h1><a href="{{ path('app_default') }}">{% apply title_content %}Dopetrope{% endapply %}</a></h1>
                    {% endblock %}

                    {% block nav %}
                        {# the js that runs the dropdown does not like to work.  So I'm putting in a toggle to turn it on or off. #}
                        {% if getSetting('navBar') %}
                            <!-- Nav -->
                            <nav id="nav">
                                <ul>
                                    <li class="current"><a href="{{ path('app_default') }}">Home</a></li>
                                    {# I want to keep the dropdown atuff here so I can use it later.  But it's still commented out.
                                    I'm also going to make the navbar the same as the footer as a component to edit in the dashboard.  v0.13
                                    <li>
                                        <a href="#">Dropdown</a>
                                        <ul>
                                            <li><a href="#">Lorem ipsum dolor</a></li>
                                            <li><a href="#">Magna phasellus</a></li>
                                            <li><a href="#">Etiam dolore nisl</a></li>
                                            <li>
                                                <a href="#">Phasellus consequat</a>
                                                <ul>
                                                    <li><a href="#">Magna phasellus</a></li>
                                                    <li><a href="#">Etiam dolore nisl</a></li>
                                                    <li><a href="#">Veroeros feugiat</a></li>
                                                    <li><a href="#">Nisl sed aliquam</a></li>
                                                    <li><a href="#">Dolore adipiscing</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Veroeros feugiat</a></li>
                                        </ul>
                                    </li>
                                    #}
                                    {% if app.user %}
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li><a href="{{ path('selene_cms_admin') }}">Admin Dashboard</a></li>
                                            {% endif %}
                                        <li><a href="{{ path('selene_cms_profile') }}">Profile</a></li>
                                        <li><a href="{{ path('selene_cms_logout') }}">Log Out</a></li>

                                        {% else %}
                                        <li><a href="{{ path('selene_cms_login') }}">Login</a></li>
                                        <li><a href="{{ path('selene_cms_register') }}">Register</a></li>
                                        {% endif %}
                                        <li><a href="{{ path('selene_cms_blog') }}">Blog</a></li>
                                </ul>
                            </nav>
                        {% endif %}
                    {% endblock %}

                    {% block banner %}
                        <!-- Banner -->
                        <section id="banner" style="background: #CCE8F4 url('{% apply banner_image %}{{ asset('images/pic01.jpg') }}{% endapply %}')">
                            <header>
                                <h2>Howdy. This is Dopetrope.</h2>
                                <p>A responsive template by HTML5 UP</p>
                            </header>
                        </section>
                    {% endblock %}

                    {% block intro %}
                        {% if getSetting('pages') %}
                            {# Once I get more pages built and/or a page builder, this will be used. #}
                            <!-- Intro -->
                            <section id="intro" class="container">
                                <div class="row">
                                    <div class="col-4 col-12-medium">
                                        <section class="first">
                                            <i class="icon solid featured fa-cog"></i>
                                            <header>
                                                <h2>Ipsum consequat</h2>
                                            </header>
                                            <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                        </section>
                                    </div>
                                    <div class="col-4 col-12-medium">
                                        <section class="middle">
                                            <i class="icon solid featured alt fa-bolt"></i>
                                            <header>
                                                <h2>Magna etiam dolor</h2>
                                            </header>
                                            <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                        </section>
                                    </div>
                                    <div class="col-4 col-12-medium">
                                        <section class="last">
                                            <i class="icon solid featured alt2 fa-star"></i>
                                            <header>
                                                <h2>Tempus adipiscing</h2>
                                            </header>
                                            <p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
                                        </section>
                                    </div>
                                </div>
                                <footer>
                                    <ul class="actions">
                                        <li><a href="#" class="button large">Get Started</a></li>
                                        <li><a href="#" class="button alt large">Learn More</a></li>
                                    </ul>
                                </footer>
                            </section>
                        {% endif %}
                    {% endblock %}

                </section>
            {% endblock %}

            {% block main %}
                <!-- Main -->
                <section id="main">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">

                                {% block portfolio %}
                                    <!-- Portfolio -->
                                    <section>
                                        <header class="major">
                                            <h2>Recent Blog Articles</h2>
                                        </header>
                                        <div class="row">
                                            {% for b in recentBlogs %}
                                                <div class="col-4 col-6-medium col-12-small">
                                                    <section class="box">
                                                        <a href="{{ path('selene_cms_blog_post', {slug: b.getSlug}) }}" class="image featured"><img src="{{ b.getImageFile.getImageFile }}" alt="{{ b.getTitle }}" /></a>
                                                        <header>
                                                            <h3>{{ b.getTitle }}</h3>
                                                        </header>
                                                        <p>{{ b.getPreview|striptags }}</p>
                                                        <footer>
                                                            <ul class="actions">
                                                                <li><a href="{{ path('selene_cms_blog_post', {slug: b.getSlug}) }}" class="button alt">{% apply readMoreButton_content %}Read More{% endapply %}</a></li>
                                                            </ul>
                                                        </footer>
                                                    </section>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </section>
                                {% endblock %}

                            </div>
                        </div>
                    </div>
                </section>
            {% endblock %}

            {% block footer %}
                <!-- Footer -->
                <section id="footer">
                    <div class="container">
                        <div class="row">
                            {% if getSetting('events') %}
                                {# Events might be in 0.13 of the bundle #}
                            <div class="col-8 col-12-medium">
                                <section>
                                    <header>
                                        <h2>Blandit nisl adipiscing</h2>
                                    </header>
                                    <ul class="dates">
                                        <li>
                                            <span class="date">Jan <strong>27</strong></span>
                                            <h3><a href="#">Lorem dolor sit amet veroeros</a></h3>
                                            <p>Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.</p>
                                        </li>
                                        <li>
                                            <span class="date">Jan <strong>23</strong></span>
                                            <h3><a href="#">Ipsum sed blandit nisl consequat</a></h3>
                                            <p>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</p>
                                        </li>
                                        <li>
                                            <span class="date">Jan <strong>15</strong></span>
                                            <h3><a href="#">Magna tempus lorem feugiat</a></h3>
                                            <p>Dolore consequat sed phasellus lorem sed etiam nullam dolor etiam sed amet sit consequat.</p>
                                        </li>
                                        <li>
                                            <span class="date">Jan <strong>12</strong></span>
                                            <h3><a href="#">Dolore tempus ipsum feugiat nulla</a></h3>
                                            <p>Feugiat lorem dolor sed nullam tempus lorem ipsum dolor sit amet nullam consequat.</p>
                                        </li>
                                        <li>
                                            <span class="date">Jan <strong>10</strong></span>
                                            <h3><a href="#">Blandit tempus aliquam?</a></h3>
                                            <p>Feugiat sed tempus blandit tempus adipiscing nisl lorem ipsum dolor sit amet dolore.</p>
                                        </li>
                                    </ul>
                                </section>
                            </div>
                            {% endif %}
                            <div class="col-4 col-12-medium">
                                <section>
                                    <header>
                                        <h2>{% apply aboutUsTitleFooter_content %}What's this all about?{% endapply %}</h2>
                                    </header>
                                    <a href="#" class="image featured"><img src="images/pic10.jpg" alt="" /></a>
                                    <p>
                                    {% apply aboutUsFooter_content %}
                                    This is <strong>Dopetrope</strong> a free, fully responsive HTML5 site template by
                                    <a href="http://twitter.com/ajlkn">AJ</a> for <a href="http://html5up.net/">HTML5 UP</a> It's released for free under
                                    the <a href="http://html5up.net/license/">Creative Commons Attribution</a> license so feel free to use it for any personal or commercial project &ndash; just don't forget to credit us!
                                    {% endapply %}
                                    </p>
                                    <footer>
                                        <ul class="actions">
                                            <li><a href="{{ path('app_aboutus') }}" class="button">{% apply ctaButton_content %}Find out more{% endapply %}</a></li>
                                        </ul>
                                    </footer>
                                </section>
                            </div>
                            <div class="col-4 col-6-medium col-12-small">
                                <section>
                                    <header>
                                        <h2>Tempus consequat JASON</h2>
                                    </header>
                                    <ul class="divided">
                                        <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
                                        <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
                                        <li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
                                        <li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
                                        <li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
                                        <li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
                                    </ul>
                                </section>
                            </div>
                            {# I have been working on a footer component in the dash, but I don't think it's ready to debut.  So it isn't here.  Maybe v0.13
                            <div class="col-4 col-6-medium col-12-small">
                                <section>
                                    <header>
                                        <h2>Ipsum et phasellus</h2>
                                    </header>
                                    <ul class="divided">
                                        <li><a href="#">Lorem ipsum dolor sit amet sit veroeros</a></li>
                                        <li><a href="#">Sed et blandit consequat sed tlorem blandit</a></li>
                                        <li><a href="#">Adipiscing feugiat phasellus sed tempus</a></li>
                                        <li><a href="#">Hendrerit tortor vitae mattis tempor sapien</a></li>
                                        <li><a href="#">Sem feugiat sapien id suscipit magna felis nec</a></li>
                                        <li><a href="#">Elit class aptent taciti sociosqu ad litora</a></li>
                                    </ul>
                                </section>
                            </div>
                            #}

                            <div class="col-4 col-12-medium">{# Ever wanted to fool the CSS? #}</div>
                            <div class="col-4 col-12-medium">
                                <section>
                                    <header>
                                        <h2>{% apply socilaMediaCTA_content %}Social Media{% endapply %}</h2>
                                    </header>
                                    <ul class="social">

                                        {% if getSetting('facebook') %}
                                            <li><a class="icon brands fa-facebook-f" href="{% apply facebookURL_content %}#{% endapply %}"><span class="label">Facebook</span></a></li>
                                        {% endif %}

                                        {% if getSetting('twitter') %}
                                        <li><a class="icon brands fa-x-twitter" href="{% apply twitterURL_content %}#{% endapply %}"><span class="label">X / Twitter</span></a></li>
                                        {% endif %}

                                        {% if getSetting('instagram') %}
                                        <li><a class="icon brands fa-instagram" href="{% apply instagramURL_content %}#{% endapply %}"><span class="label">Dribbble</span></a></li>
                                        {% endif %}

                                        {% if getSetting('youtube') %}
                                        <li><a class="icon brands fa-youtube" href="{% apply youtubeURL_content %}#{% endapply %}"><span class="label">Tumblr</span></a></li>
                                        {% endif %}

                                        {% if getSetting('linkedin') %}
                                        <li><a class="icon brands fa-linkedin-in" href="{% apply linkedinURL_content %}#{% endapply %}"><span class="label">LinkedIn</span></a></li>
                                        {% endif %}

                                    </ul>
                                    <ul class="contact">
                                        {% if  getSetting('address') %}
                                        <li>
                                            <h3>{% apply mailingAddressCTA_content %}Address{% endapply %}</h3>
                                            <p>
                                            {% apply mailingAddress_content %}
                                            Untitled Incorporated<br />
                                            1234 Somewhere Road Suite<br />
                                            Nashville, TN 00000-0000
                                            {% endapply %}
                                            </p>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <h3>{% apply eMailCTA_content %}Email{% endapply %}</h3>
                                            <p><a href="{% apply contactEmail_content %}mail@example.com{% endapply %}">{% apply contactEmail_content %}mail@example.com{% endapply %}</a></p>
                                        </li>
                                        {% if getSetting('contactPhone') %}
                                        <li>
                                            <h3>Phone</h3>
                                            <p>{% apply phoneNumber_content %}(000) 000-0000{% endapply %}</p>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </section>
                            </div>
                            <div class="col-12">

                                <!-- Copyright -->
                                <div id="copyright">
                                    <ul class="links">
                                        <li>{% apply copyright_content %}&copy; Untitled. All rights reserved.{% endapply %}</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            {% endblock %}

        </div>

    </body>
</html>
