<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        <link rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>" />

        <meta name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no" />

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="is-loading">
        <!-- Wrapper -->
        <div id="wrapper" class="fade-in">
            {% block intro %}
                <!-- Intro -->
                <div id="intro">
                    <h1>
                        This is<br />
                        Massively
                    </h1>
                    <p>
                        A free, fully responsive HTML5 + CSS3 site template
                        designed by <a href="https://html5up.net">
                            HTML5 UP
                        </a><br />
                        and distributed by <a href="https://themewagon.com/">
                            ThemeWagon
                        </a>.
                    </p>
                    <ul class="actions">
                        <li>
                            <a href="#header"
                                class="button icon solo fa-arrow-down scrolly">
                                Continue
                            </a>
                        </li>
                    </ul>
                </div>
            {% endblock %}

            {% block header %}
                <!-- Header -->
                <header id="header">
                    <a href="index.html" class="logo">Massively</a>
                </header>
            {% endblock %}

            {% block nav %}
                <!-- Nav -->
                <nav id="nav">
                    <ul class="links">
                        <li class="active">
                            <a href="index.html">This is Massively</a>
                        </li>
                        <li><a href="generic.html">Generic Page</a></li>
                        <li><a href="elements.html">Elements Reference</a></li>
                    </ul>
                    <ul class="icons">
                        <li>
                            <a href="#" class="icon fa-twitter">
                                <span class="label">Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon fa-facebook">
                                <span class="label">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon fa-instagram">
                                <span class="label">Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon fa-github">
                                <span class="label">GitHub</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            {% endblock %}

            <!-- Main -->
            <div id="main">
                {% block featuredpost %}
                    <!-- Featured Post -->
                    <article class="post featured">
                        <header class="major">
                            <span class="date">April 25, 2017</span>
                            <h2>
                                <a href="#">
                                    And this is a<br />
                                    massive headline
                                </a>
                            </h2>
                            <p>
                                Aenean ornare velit lacus varius enim
                                ullamcorper proin aliquam<br />
                                facilisis ante sed etiam magna interdum congue. Lorem
                                ipsum dolor<br />
                                amet nullam sed etiam veroeros.
                            </p>
                        </header>
                        <a href="#" class="image main">
                            <img src="{{ asset('build/images/pic01.jpg') }}" alt="" />
                        </a>
                        <ul class="actions">
                            <li>
                                <a href="#" class="button big">Full Story</a>
                            </li>
                        </ul>
                    </article>
                {% endblock %}

                {% block posts %}
                    <!-- Posts -->
                    <section class="posts">
                        <article>
                            <header>
                                <span class="date">April 24, 2017</span>
                                <h2>
                                    <a href="#">
                                        Sed magna<br />
                                        ipsum faucibus
                                    </a>
                                </h2>
                            </header>
                            <a href="#" class="image fit">
                                <img src="{{ asset('build/images/pic02.jpg') }}" alt="" />
                            </a>
                            <p>
                                Donec eget ex magna. Interdum et malesuada fames
                                ac ante ipsum primis in faucibus. Pellentesque
                                venenatis dolor imperdiet dolor mattis sagittis
                                magna etiam.
                            </p>
                            <ul class="actions">
                                <li>
                                    <a href="#" class="button">Full Story</a>
                                </li>
                            </ul>
                        </article>
                        <article>
                            <header>
                                <span class="date">April 22, 2017</span>
                                <h2>
                                    <a href="#">
                                        Primis eget<br />
                                        imperdiet lorem
                                    </a>
                                </h2>
                            </header>
                            <a href="#" class="image fit">
                                <img src="{{ asset('build/images/pic03.jpg') }}" alt="" />
                            </a>
                            <p>
                                Donec eget ex magna. Interdum et malesuada fames
                                ac ante ipsum primis in faucibus. Pellentesque
                                venenatis dolor imperdiet dolor mattis sagittis
                                magna etiam.
                            </p>
                            <ul class="actions">
                                <li>
                                    <a href="#" class="button">Full Story</a>
                                </li>
                            </ul>
                        </article>
                    </section>

                    <!-- Footer -->
                    <footer>
                        <div class="pagination">
                            <!-- <a href="#" class="previous">Prev</a> -->
                            <a href="#" class="page active">1</a>
                            <a href="#" class="page">2</a>
                            <a href="#" class="page">3</a>
                            <span class="extra">&hellip;</span>
                            <a href="#" class="page">8</a>
                            <a href="#" class="page">9</a>
                            <a href="#" class="page">10</a>
                            <a href="#" class="next">Next</a>
                        </div>
                    </footer>
                {% endblock %}
            </div>

            {% block footer %}
                <!-- Footer -->
                <footer id="footer">
                    <section>
                        <form method="post" action="#">
                            <div class="field">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" />
                            </div>
                            <div class="field">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email" />
                            </div>
                            <div class="field">
                                <label for="message">Message</label>
                                <textarea name="message"
                                    id="message"
                                    rows="3"></textarea>
                            </div>
                            <ul class="actions">
                                <li>
                                    <input type="submit" value="Send Message" />
                                </li>
                            </ul>
                        </form>
                    </section>
                    <section class="split contact">
                        <section class="alt">
                            <h3>
                                Address
                            </h3>
                            <p>
                                1234 Somewhere Road #87257<br />
                                Nashville, TN 00000-0000
                            </p>
                        </section>
                        <section>
                            <h3>
                                Phone
                            </h3>
                            <p>
                                <a href="#">(000) 000-0000</a>
                            </p>
                        </section>
                        <section>
                            <h3>
                                Email
                            </h3>
                            <p>
                                <a href="#">info@untitled.tld</a>
                            </p>
                        </section>
                        <section>
                            <h3>
                                Social
                            </h3>
                            <ul class="icons alt">
                                <li>
                                    <a href="#" class="icon alt fa-twitter">
                                        <span class="label">Twitter</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icon alt fa-facebook">
                                        <span class="label">Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icon alt fa-instagram">
                                        <span class="label">Instagram</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icon alt fa-github">
                                        <span class="label">GitHub</span>
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </section>
                </footer>
            {% endblock %}

            {% block copyright %}
                <!-- Copyright -->
                <div id="copyright">
                    <ul>
                        <li>&copy; Untitled</li><li>
                            Design: <a href="https://html5up.net">HTML5 UP</a>
                        </li><li>
                            Distributor: <a href="https://themewagon.com">ThemeWagon</a>
                        </li>
                    </ul>
                </div>
            {% endblock %}
        </div>
    </body>
</html>
